@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap') ;
/*NORMALIZE*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body {
    font-family: 'Roboto', sans-serif ;
    color: #333;
    font-size: 1.2rem ;
    line-height: 1.4em ;
    background-color: #e2dede;
}

/*HEADER*/

.header {
    background-color: #333;
    color: white;
    padding: auto;

    left: 0;
    top: 0;
    right: 0;
}
.header a {
    color: white;
    text-decoration: none;
}
.logo-nav-container {
    display: flex;
    justify-content: space-between ;
    align-items: center;
    flex-wrap: wrap;
}
.logo {
    height: 80px;
}

.navigation ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
  .navigation ul li {
    display: inline-block;
  }
  .navigation ul li a {
    display: block;
    padding: 0.5rem 1rem;
    transition: all 0.4s linear;
    border-radius: 5px;
  }
  .navigation ul li a:hover {
    background-color: rgb(102, 102, 102) ;
    color: white ;
  }



  h1 {
    color: black;
    border-radius: 10px;
    font-size: 4rem;
    line-height: 1.1em;
    padding-bottom: 20px;
}
p {
    margin-bottom: 1.6em;
}
div h2 {
    color: white;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.contacto {
    color: #000000;
padding-top: 100px;
right: 0;
left: 0;
    
}
.formcontact {
    padding-top: 1px;
}
.templatemo_contacttitle {
    width: 100%;
    margin-bottom: 10px;
    font-size: 32px;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
}



.templatemo_contact {
    margin: 30px;
    width: 100%;
    margin-left: 15%;
}

.templatemo_contactform input, textarea {
    width: 100%;
    background: #282828;
    border: 1px solid #393939;
    padding: 7px 10px;
    margin: 0px 0px 10px 0px;
    background-color: #FAFAFA;
}

.templatemo_contactform textarea {
    height: 100px;
}


.templatemo_contactform .btn-primary {
    background: #001485;
    border: none;
    border-radius: 0px;
    color: #ffffff;
    font-weight: 800;
}

.templatemo_contactform .btn-primary:hover {
    background: #504eff;
}
  
.form {
    padding-left: 50px;
}
.col-md-4 {
    width: 17%;
}
h2{
    font-size: 2.5em
}
.balanzas {
    display: flex;
  width: 80%;
 margin: auto;
}
.registradoras {
    display: flex;
    width: 80%;
   margin: auto;
}


.contacto {
    color: #000083;
    padding-bottom: 20px;
    padding-top: 10px;
    font-family: "roboto";
    font-style: black;
    font-weight: bold;
    font-size: 3em;
}

.contacto1{
    text-align: center;
}

.img-thumbnail{
    height: 300px;
    margin: 0 auto;
}

.img-thumbnail:hover{
    background-color: rgb(201, 199, 199) ;
}

#carouselExampleDark{
    padding-top: 50px;
}
.d-block{
    margin: 0 auto;
}
.ingreso{
    padding-top: 30px;
    background-color: #000083;
    color: #ffffff;
    text-align: center;
    justify-content: center;
  
}
.ingreso-texto {
    color: #ffffff;

}
.button1 {
    font-size: 1em;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 10px;
    border: 1px solid black;
    box-shadow: 2px 2px 10px black;
    color: white;
    background-color: #000083;
    text-align: end;
}
.button1:hover{
    background-color: #1e1eff;
}

.button2 {
    font-size: 1em;
    font-weight: bold;
    padding: 5px 15px;
    border-radius: 10px;
    border: 1px solid black;
    box-shadow: 2px 2px 10px black;
    color: white;
    background-color: #5353f3;
    text-align: end;
}

.button2:hover{
    background-color: #9494f3;
}

.info{
    background-color: #000000;
    padding-top: 30px;
    padding-bottom: 30px;
    color: #ffffff;
    text-align: center;
}



.product-device {
    position: absolute;
    right: 10%;
    bottom: -30%;
    width: 300px;
    height: 540px;
    background-color: #333;
    border-radius: 21px;
    transform: rotate(30deg);
  }
  
  .product-device::before {
    position: absolute;
    top: 10%;
    right: 10px;
    bottom: 10%;
    left: 10px;
    content: "";
    background-color: rgba(255, 255, 255, .1);
    border-radius: 5px;
  }
  
  .product-device-2 {
    top: -25%;
    right: auto;
    bottom: 0;
    left: 5%;
    background-color: #e5e5e5;
  }
  
  
  /*
   * Extra utilities
   */
  
  .flex-equal > * {
    flex: 1;
  }
  @media (min-width: 768px) {
    .flex-md-equal > * {
      flex: 1;
    }
  }
  
.texto{
   padding-top: 30px;
}
.titulo-info{
    font-size: 28px;
    font-weight: bold;
    font-style: italic;
    color: #000000;
}

