@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
    color: #333;
    font-size: 1.2rem;
    line-height: 1.4em;
}
h1 {
    color: black;
    border-radius: 10px;
    font-size: 4rem;
    line-height: 1.1em;
    padding-bottom: 20px;
}
p {
    margin-bottom: 1.6em;
}
.container {
    width: 85%;
    max-width: 850px;
    margin: 0 auto;
}
.header {
    background-color: #333;
    color: white;
    padding: auto;

    position: fixed;
    left: 0;
    top: 0;
    right: 0;
}
.header a {
    color: white;
    text-decoration: none;
}
.logo-nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.logo {
    width: 23%;
}

.navigation ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
  .navigation ul li {
    display: inline-block;
  }
  .navigation ul li a {
    display: block;
    padding: 0.5rem 1rem;
    transition: all 0.4s linear;
    border-radius: 5px;
  }
  .navigation ul li a:hover {
    background-color: rgb(102, 102, 102);
  }