/* VARIABLE */

    /* Palette */
    $background: #e2dede;
    $background2: #000000;
    $header: #333;
    $footer: #333;
    $heading1-2: #fffffe;
    $paragraph: #666666;
    $button: #000083;
    $buttonText: #ffffff;
    $tagParagraph: #121629;
    $text-footer: #ffffff;
    $imgcolor: #c9c7c7;

    /* Font Sizes */
    $text-heading1: 8em; /*relativo al tamanio que el navegador lo defina*/
    $text-heading2: 4.8em;
    $text-heading3-4-5-6: 3.2em;
    $text-paragraph: 2.2em;
    $text-secondary: 1.6em;
    $text-terciary: 1.2em;

    /* Spacing */
    $sp-xxxl: 12rem;
    /*siempre vale el tamanio de la etiqueta raiz, o sea la del navegador*/
    $sp-xxl: 8rem;
    $sp-xl: 5rem;
    $sp-lg: 3.2rem;
    $sp-xs: 0.5rem;
    $sp-md: 1.6rem;
    $sp-sm: 0.8rem;