h1 {
    color: black;
    border-radius: 10px;
    font-size: 4rem;
    line-height: 1.1em;
    padding-bottom: 20px;
  }

  .info {
    background-color: #000000;
    padding-top: 30px;
    padding-bottom: 30px;
    color: #ffffff;
    text-align: center;
  }
  .ingreso {
    padding-top: 30px;
    background-color: #000083;
    color: #ffffff;
    text-align: center;
    justify-content: center;
  }
  
  .ingreso-texto {
    color: #ffffff;
  }

  #carouselExampleDark {
    padding-top: 50px;
  }
  
  .d-block {
    margin: 0 auto;
  }

.carrusel1{
  max-width: 65%;
}