
h2{
    font-size: 2.5em
}
.balanzas {
    display: flex;
  width: 80%;
 margin: auto;
}
.registradoras {
    display: flex;
    width: 80%;
   margin: auto;
   padding-right: 10px;
}

.card-group{
    padding-left: 50px;
}